// Paleta Colores
$white: #ffffff;
$black: #000000;
$purple: #B378FF;
$pink: #F778B9;
$indigo: #486DB7;

$blue-800: #265E6C;
$blue-700: #337E93;

$grey-990: #191919;
$grey-900: #2D2D2D;
$grey-800: #414141;
$grey-700: #555555;
$grey-600: #696969;
$grey-500: #7D7D7D;
$grey-400: #979797;
$grey-300: #B1B1B1;
$grey-200: #CACACA;
$grey-100: #E4E4E4;
$grey-10: #F1F1F1;


//Font Family
$default: "Source Sans Pro", sans-serif;
$secondary: Merriweather, serif;

//Font Size
$xxlarge: 40px;
$xlarge: 32px;
$large: 24px;
$medium: 20px;
$regular: 16px;
$small: 12px;


//Font Weight
$fw700: 700;
$fw600: 600;
$fw400: 400;